body{
	background-image: url("../imgs/gaga3.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#header{
	height:7em;
	width:95%;
/*	border: 1px solid red;*/
	margin: 2% 2.5%
}

#left_nav{
	height:30em;
	width:15%;
/*	border: 1px solid red;*/
	margin-left: 2.5%;
	float: left;
}

#center_carousel{
	height:30em;
	width:59%;
	border: 3px solid black;
	float: left;
	margin-left: 2.5%;
}

#right_twitter{
	height:30em;
	width:15%;
/*	border: 1px solid red;*/
	float: left;
	margin: auto 2.5%;

}

#footer{
	height:5em;
	width:95%;
	/*border: 1px solid red;*/
	display: inline-block;
	margin: 2% 2.5%;
	margin-top: 5%;
}


h1{
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	text-align: center;
	margin: 0;
}

h2{
	font-size: 2em;
}

#nav_list li{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-left: -23px;
	width: 100%;
	height: 100px;
	display: inline-block;
	float: left;
	border: 3px solid black;

}
#footer_icons{
	text-align: center;
	padding: 0;
}

#footer_icons li{
	display: inline-block;
}

li, a{
	text-decoration: none;
}

.twitter-timeline{
	height: 30em;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-controls{
	margin-top: -20;
}