body{
	background-image: url("../imgs/gaga_background.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#header{
	height:7em;
	width:95%;
	border: 1px solid red;
	margin: 2% 2.5%
}

#left_nav{
	height:30em;
	width:15%;
	border: 1px solid red;
	margin-left: 2.5%;
	float: left;
}

#center_carousel{
	height:30em;
	width:59%;
	border: 1px solid red;
	float: left;
	margin-left: 2.5%;
}

#right_twitter{
	height:30em;
	width:15%;
	border: 1px solid red;
	float: left;
	margin: auto 2.5%;

}

#footer{
	height:5em;
	width:95%;
	border: 1px solid red;
	display: inline-block;
	margin: 2% 2.5%;
}


h1{
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	text-align: center;
	margin: 0;
}

