#header{
	height:10em;
	width:95%;
	background-color: red;
	margin: 2% 2.5%
}

#left_nav{
	height:30em;
	width:15%;
	background-color: yellow;
	float: left;
	margin-left: 2.5%;
}

#center_carousel{
	height:30em;
	width:60%;
	background-color: pink;
	float: left;
	margin-left: 2.5%;
}

#right_twitter{
	height:30em;
	width:15%;
	background-color: orange;
	float: left;
	margin: auto 2.5%;

}

#footer{
	height:5em;
	width:95%;
	background-color: blue;
	display: inline-block;
	margin: 2% 2.5%;
}