#header{
	height:30%;
	width:100%;
	background-color: red;
}

#left_nav{
	height:50%;
	width:15%;
	background-color: yellow;
	float: left;
}

#center_carousel{
	height:50%;
	width:60%;
	background-color: pink;
}

#right_twitter{
	height:50%;
	width:15%;
	background-color: blue;
	float: right;
}

#footer{
	height:5%;
	width:100%;
	background-color: blue;
}